

@keyframes backgroundPulse {
  0% {
    background-color: #242424;
  }
  50% {
    background-color: #2d2d3d;
  }
  100% {
    background-color: #242424;
  }
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: url(./moviesIMG/dune-part-two-8k-3840x2160-15003.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  background-color: #242424;
  color: #ffffff;

}